body, .wrapper, #illustration, #nav{
	margin: 0 auto;
}
.wrapper {
	background: #fff;
	width: 1200px;
	overflow: hidden; 
	display: block;
}
body, header #intro, .nv {
	width: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #eee;
	color: #555;
}
section {
	border-top: 5px solid #eee;
}
header #intro{
	height: 400px;
}

header #logo {
	width: 400px;
}
#description {
	padding-top: 20px;
	padding-right: 20px;
	float: right;
	width: 700px;
}

.nv {
	display: inline;
}
nav {
	background-color: #00b5a0;	
	height: 80px;
}
nav a:hover, a:active, nav ul li a:hover, nav ul li a:active {
	background-color: #fff;
	color: #00B5A0;
	padding: 5px;
	border-radius: 5px;
} 

nav ul li a {
	text-decoration: none;
	color: #fff;
}
nav ul li{
	display: inline-block;
	list-style: none;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

#nav-left, #nav-right {
	position:absolute;
	top: 400px;
	margin-bottom: 0;
} 
#nav-right ul li {
	float: right;
	
} 

em {
	color: #fc3a4c;
	font-style: italic;
}
p > em {
	color: #555;
}
h1 {
	font-size: 0.9em;
	float: right;
	line-height: 1.5em;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}
h3 {
	padding-top: 20px;
	text-align: center;
}
footer {
	width: 100%;
	background-color: #00B5A0;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}
.content1, #content2 {
	  line-height: 2em;
}
.content1 p, #content2 p {
	padding-left: 15px;

} 
/* About Us */
#aboutus {
	width: 100%;
	line-height: 1.5em;
	
}
#aboutus ul li {
	width: 17%;
	display: inline-block;
	border-left: 1px #eee solid;
	padding-left: 10px;
	padding-right: 5px;
}
#aboutus ul li:first-of-type {
	border-left: none;
}
#aboutus ul li img {
	width: 90%;
	vertical-align: top;
}
 /* OUR  SERVICES */
#illustration {
             width: 1000px;
}
.process-arrow {
	padding: 50px 0 50px 50px;
}
.process-item {
	display: inline;
	padding-left: 50px;
	position: relative;
}
.process-item:last-child {
	padding-left: 0;
} 
.process-item img {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
}
.process-info p {

}
.process-info {
	display: inline;
	position: absolute;
	left: 0;
	text-transform: uppercase;
	text-align: center;
	opacity: 0;
	margin-top: 45%;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	text-align: center;
	color: #000;
}
.process-item:hover .process-info, .process-item:active .process-info {
	opacity: 1;
	font-weight: bold;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
}
.process-item:hover img, .process-item:focus img {
	opacity: 0.01;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
}

/* CONTACT US*/

#googleMap {
            width:500px; 
            height:380px;
	float: right;
	margin: -400px 50px 30px 0;

}
/* 8) MEDIA QUERIES */


@media screen and (min-width: 400px) and (max-width: 699px) {
	body{
		font-size: 80%;
	}
		
              .process-info, .process-item, nav ul li,  #aboutus ul li {
	            display: block;
	 }
           header #intro{
	             height: 200px;
	}
	header #logo {
	               width: 200px;
	}   
	.contact-bottom{
		display: block;
	}       
}